html 
    head 
        title PDF To Sheet 
    body 
        h1 Pdf to Google Sheet 
        form(action="upload" method="post" enctype="multipart/form-data")
            input(type="file" name="pdf")
            button(type="submit")  Submit 